{% extends "base.html" %}

{% block content %}
    <h1>Mano užsakymas:</h1>
    <hr>
        <ul>

        <img class="rounded-circle" src="{{ object.reader.profilis.nuotrauka.url }}">
          <li><strong class="{% if object.is_overdue %}text-danger{% endif %}">Duomenys: {{object.automobilio.automobilio_modelis}} {{object.automobilio.valstybinis_nr}}</strong></li>
        <li><strong>Gražinimo terminas:</strong> {{object.terminas}}</li>
            {% if object.reader == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'my_order_update' object.id %}">Redaguoti</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'my_order_delete' object.id %}">Ištrinti</a>
            </div>
            {% endif %}
        <br/>
      </li>
    </ul>
{% endblock %}